.first {
  background-color: #f5c6d6;
}

.second {
  background-color: #ee2e84;
}

.third {
  background-color: #85cfd8;
}

.fourth {
  background-color: #8dc63f;
}

.fourth-1 {
  background-color: #e76e34;
}

.box {
  height: 90px;
  border: solid white;
}
